version: '3'
services:
  engine:
    image: jackhay22/poolgp_clojush:latest
    networks:
      - poolgp_overlay
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
    ports:
      - "8000:8000"
      - "9000:9000"
    volumes:
      - "${PWD}/logs:/server_logs"
  eval:
    networks:
      - poolgp_overlay
    deploy:
      replicas: 1
    image: jackhay22/poolgp_server:latest
    ports:
      - "9999:9999"
volumes:
  logs:

networks:
  poolgp_overlay:
    driver: overlay
    driver_opts:
      internal: "true"
