version: '3'
services:
  engine:
    image: jackhay22/poolgp_clojush:latest
    deploy:
      replicas: 1
    ports:
      - "8000:8000"
      - "9000:9000"
  eval:
    deploy:
      replicas: 2
    image: jackhay22/poolgp_server:latest
    ports:
      - "9999:9999"
